
$nav-background:#ff5100;
$white-text:#f1f1f1;
$black-text:#1b1b1b;
$red-text:#e61313;
$blue-text:#316ae6;
$dark-blue:#0a3481;
$footer-text:#b6adad;

$small-text:1.2rem;
$reg-font-size:1.8rem;
$big-font-size:2.2rem;
$xl-font-size:3.2rem;
$xxl-font-size:3.8rem;

$transition:all .7s ease;